/* All */
* {
    font-family: "Ebrima";
    box-sizing: border-box;
    white-space: nowrap;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

#banner {
    width: 100%;
    height: auto;
    background-color: black;
    line-height: 0px;
    color: white;
    text-align: center;
}

#banner img {
    width: 100%;
    height: 150px;
}

#options {
    background-color: rgb(67, 42, 82);
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 23pt;

}

.element {
    width: 20%;
    text-align: center;
    float: left;
}

.element:hover{
    font-weight: bold;
    background-color: rgb(50, 32, 61);
}

#content {
    clear: both;
    background-color: lightgray;
    width: 100%;
    min-height: 700px;
    height: auto;
}

#footer {
    width: 100%;
    height: auto;
    padding: 0.6%;
    text-align: center;
    background-color: rgb(67, 42, 82);
    color: white;
}

/* For our games */

#gamepreview1, #gamepreview2, #gamepreview3 {
    height: 700px;
    float: left;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: x-large;
}

#gamepreview1 {
    width: 33.3%;
    background-image: url("games/bitcointycoon.png"); 
}

#gamepreview2 {
    width: 33.4%;
    background-image: url("games/esportsempire.png");
}

#gamepreview3 {
    width: 33.3%;
    background-image: url("games/developerinc.png");
}

#gamepreview1:hover, #gamepreview2:hover, #gamepreview3:hover  {
    filter: contrast(120%);
}

#gamepreview1 .gamepreviewtitle, #gamepreview2 .gamepreviewtitle, #gamepreview3 .gamepreviewtitle {
    border: 2px solid black;
    background-color: rgba(255,255,255,0.3);
    width: 80%;
    margin: auto;
    margin-top: 1.5%;
    padding: 1%;
}

#gamepreview1:hover .gamepreviewtitle, #gamepreview2:hover .gamepreviewtitle, #gamepreview3:hover .gamepreviewtitle  {
    border: 3px solid black;
    background-color: rgba(255,255,255,0.8);
}

.play {
    position: relative;
    top: 75%;
    color: white;
    border: 2px solid white;
    width: 50%;
    margin: auto;
}

.play:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 2px solid white;
}

/* For let's plays */

.video-line{
    width: 100%;
    height: 300px;
    background-color: rgb(87, 87, 87);
}

.video-block{
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgb(116, 116, 116);
}

.video-block iframe {
    border: 2px solid black;
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 3%;
}